@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-div{
  position: relative;
  height: initial;
  height: 100vh;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  overflow: auto;
}
.topBar{
  padding-top: 0px;
  padding-left: 0px;
  padding-right:0px;
  height: 7vh;
}
.button{
  height:10%;
  width:40%;
  background-color: black;
  color:white;
  border: 3px red solid;
  border-radius: 20px;
  margin: 5%;
  font-size:medium;
}
.button:hover{
  height:15%;
  width:60%;
  font-size: x-large;
}
.body-div{
  /*border: 3px solid green;*/
  text-align: left;
  display: flex;
  width: 100%;
}
#login-panel{
  flex: 1;
  text-align: center;
  align-items: center;
  /*border: 3px solid red;*/
  height: 100%;
  width: 50%;
}
.panels{
  flex: 1;
  float: left;
  /*border: 3px solid red;*/
  height: 100%;
  width: 50%; 
}
.formItems, .formAccessories{
  display: block;
  margin: 40px;
  height: 30px;
}
.formAccessories{
  /*border: 3px solid purple;*/
  text-align: right;
  margin-right: 10%;
  padding: 2.778px;
}
.formSelect{
  display: block;
  margin: 40px;
  height: 35.56px;
  padding: 4px;
}
.formItems{
  width: 40%;
}
.formBox{
  display: block;
  margin: 42.778px;
  height: 30px;
}
#login-div{
  text-align: center;
  display: block;
  width: 100%;
}
#login-panel{
  text-align: center;
  align-items: center;
  /*border: 3px solid red;*/
  height: 100%;
  width: 50%;
}
.quickTest{
  height: 100%;
  /*border: 3px solid blue;*/
}

.load {
  font-size: 150%;
  padding: 1%;
  margin: 1%;
  text-align: center;
}

h2 {
  font-size: 220%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
#forErrorMessages{
  text-align: center;
  font-size: 130%;
  font-weight: 600;
  vertical-align: middle;
}