body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-div{
  position: relative;
  height: initial;
  height: 100vh;
  background-color: #e1edf0;
  text-align: center;
  align-items: center;
  overflow: auto;
}
.topBar{
  padding-top: 0px;
  padding-left: 0px;
  padding-right:0px;
  height: 7vh;
}
.button{
  height:10%;
  width:40%;
  background-color: black;
  color:white;
  border: 3px red solid;
  border-radius: 20px;
  margin: 5%;
  font-size:medium;
}
.button:hover{
  height:15%;
  width:60%;
  font-size: x-large;
}