.fancy-button{
    background-color: #449aad;
    color: #FFFFFF;
    border: 5px solid #449aad;
    border-radius:20px;
    vertical-align: middle;
    width: 15%;
    height: 20%;
    font-weight: 500;
    padding: 1%;
    cursor: pointer;
    margin: 2%;
    text-align: center;
    line-height: 100%;
    display: inline-block;
}
.fancy-button:hover{
    animation-name: mouseNonspecial;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes mouseNonspecial{
    from {background-color: #449aad;
        color: #FFFFFF;
    }
    to{background-color: #FFFFFF;
        color: #449aad;
    }
}
.special, #submission{
    background-color: #0e5384;
    color: #FFFFFF;
    border: 5px solid #0e5384;
    border-radius:7px;
    display: inline-flex;
    text-align: center;
    width: 22%;
    height: 7%;
    margin: 3%;
    padding: 1%;
    font-size: 1.2vw;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
}
.special:hover, #submission:hover{
    animation-name: mouseSpecial;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes mouseSpecial{
    from {background-color: #0e5384;
        color: #FFFFFF;
    }
    to{background-color: #FFFFFF;
        color: #0e5384;
    }
}
.textP, #submission {
    font-size: 130%;
    text-align: center;
}