.main-input{
    margin-top:5%;
}
.input-box{
    border: 1px solid #4daec2;
    background-color: rgba(255,255,255,.7);
    font-size:larger;
    display: inline-block;
}
.input-box:hover, .input-box:focus{
    background-color: rgba(255,255,255,1);
}
p{
    display: inline;
    font-size: 1.2vw;
    margin-right: 5%;
}