.header{
    background: #91ebe9;
    /* background: linear-gradient(0deg, rgba(85,206,244,1) 0%, rgba(133,94,244,1) 100%); */
    position: relative;
    width: 100%;
    height: 7%;
    max-height: 720px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}
.title{
    color: black;
    font-size: 210%;
    max-height: 100%;
    font-weight:700;
    padding: auto;
    margin-right: 7%;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    max-height: 95%;
    height: 70px;
    float: left;
    padding: 20px;
    padding-top: 0px;
    vertical-align: middle;
}