.header{
    background: #9393DB;
    /* background: linear-gradient(0deg, rgba(85,206,244,1) 0%, rgba(133,94,244,1) 100%); */
    position: relative;
    width: 100%;
    height: 7%;
    max-height: 768px;
    text-align: center;
    vertical-align: middle;
}
.title{
    color: white;
    font-size: 150%;
    font-weight:500;
    padding: auto;
    margin: auto;
    vertical-align: middle;
}
.logo{
    height: 100%;
    float: left;
}